.edit_text .styles-module_Editext__input__2-M50 {
    width: 100%;
    border: 1px solid rgb(212, 212, 212);
    padding: 0.6em;
    outline: none;
}
.styles-module_Editext__button__sxYQX {
    border: none !important;
    background:none !important;
}

@media only screen and (max-device-width:280px) {
.edit_text .styles-module_Editext__input__2-M50 {
    width:4rem;
}
}

@media only screen and (min-device-width:281px) and (max-device-width:320px) {
    .edit_text .styles-module_Editext__input__2-M50 {
        width:5rem;
    }
    }
    
@media only screen and (min-device-width:321px) and (max-device-width:414px) {
    .edit_text .styles-module_Editext__input__2-M50 {
        width:5rem;
    }
    }
       
@media only screen and (min-device-width:415px) and (max-device-width:640px) {
    .edit_text .styles-module_Editext__input__2-M50 {
        width:7rem;
    }
    }
         
@media only screen and (min-device-width:641px) and (max-device-width:812px) {
    .edit_text .styles-module_Editext__input__2-M50 {
        width:9rem;
    }
    }
            
@media only screen and (min-device-width:813px) and (max-device-width:1024px) {
    .edit_text .styles-module_Editext__input__2-M50 {
        width:9rem;
    }
    }
            
@media only screen and (min-device-width:1025px) and (max-device-width:1200px) {
    .edit_text .styles-module_Editext__input__2-M50 {
        width:10rem;
    }
    }