.project{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    background-color:#f5f7fa;
}
.header{
    background-color: #1c1c24;
}

.project .project_main{
    width:100%;
    border-radius: 4px;
}